body{
  width: 100%;
  margin: 0px;
  font-family: Helvetica Neue;
  display: inline-block;
}
header{
  width: 200%;
  height: 100px;
  background-color: #000000;
}
div.top, h1{
  color: white;
  padding-top: 1px;
  text-align: center;
}

div.settings {34495E
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1ABC9C;
}

#brushBox
{
  display: block;
}



