body{
  width: 100%;
  margin: 0px;
  font-family: Segoe Ui Light
}
header{
  width: 100%;
  height: 100px;
  background-color: orange;
}
div.top{
  color: white;
  text-align: center;
}
#brushBox {

}
div.paintBox, h1 {
  margin: 0px;
  padding-top: 25px;
}
