body{
  width: 100%;
  margin: 0px;
  font-family: Segoe Ui Light
}
header{
  width: 100%;
  background-color: orange;
}
div.top{
  color: white;
  text-align: center;
}
#brushBox {

}
h1{
    margin: 0px;
}
